*.ipch
*.db
*.db-shm
*.db-wal
*.tlog
*.obj
*.opendb
*.suo
*.pdb
*.log
*.lib
*.exp
*.idb
*.enc
*.enc
*.o
EBPLauncher/RCc06680
EBPLauncher/RCa06680
EBPLauncher/RCd06680
EBPLauncher/RCb06680
EBPLauncher/RCe06680
EBPLauncher/RCf06680
LuaBridge
*.so
*.a
EBP
bot
data